#editor {
    height: 40em;
}

.btn-submit, .btn-submit:focus, .btn-submit:active {
    background-color: #50D367;
    border-color: #50D367;
    color: #FFFFFF;
}

.btn-submit:hover, .btn-submit:hover {
    background-color: #47B9D7;
    border-color: #47B9D7;
    color: #FFFFFF;
}

.btn-login, .btn-login:focus, .btn-login:active, .btn-signup, .btn-signup:focus, .btn-signup:active {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #50D367;
}

.btn-signup, .btn-signup:focus, .btn-signup:active {
    border-color: #50D367;
}

.btn-login:hover, .btn-signup:hover {
    background-color: #50D367;
    border-color: #50D367;
    color: #FFFFFF;
}

.main-form {
    padding-top: 1em;
}

@media (min-width: 62em) {
    .main-form {
        padding-top: 3em;
    }
}
